.list-item-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.check {
  margin-bottom: 30px;
}
.item {
  margin: 0px;
  height: 40px;
  width: 120px;
  color: darkorange;
  text-align: center;
}
.checkbox-element-active {
  margin-bottom: 35px;
}
.checkbox-element {
  margin-bottom: 35px;
}
